<!DOCTYPE html>
<html>
<head>
<title>Tutorial Videos</title>
<%= stylesheet_link_tag 'os1.scss' %>
 <center><h1>LearnOnline</h1></center>
     <center><h7>-an online study point</h7></center>
      <hr/>
</head>
<body>
<div style="background-color:#FFFFE0;height:1090px;width:1260px;">
<ul>
	<class><h1><center>Ruby on rails</center></h1></class>
		<div style="float:left;padding: 50px;">
		<li>Welcome to Rails!</li>
		<%= video_tag "1 Welcome.webm", :size => "320x240", :controls => true %></div>
        <div style="float:center;padding: 50px;">
        <li>How to use exercise files</li>
        <%= video_tag "2ruby.webm", :size => "320x240", :controls => true %></div>
		<div style="float:right;padding: 50px;">
		<li>Ruby on Rails Introduction</li>
		<%= video_tag "3ruby.webm", :size => "320x240", :controls => true %></div>
		<div style="float:left;padding: 50px;">
		<li>Understanding MVC Architechture</li>
		<%= video_tag "4ruby.webm", :size => "320x240", :controls => true %></div>
		<div style="float:center;padding: 50px;">
		<li>Create a Project</li>
		<%= video_tag "5ruby.webm", :size => "320x240", :controls => true %></div>
		<div style="float:right;padding: 50px;">
		<li>File Structure of a Project</li>
		<%= video_tag "7ruby.webm", :size => "320x240", :controls => true %></div>
		<div style="float:left;padding: 50px;">
		<li>Access a Project</li>
		<%= video_tag "8ruby.webm", :size => "320x240", :controls => true %></div>
		<div style="float:center;padding: 50px;">
		<li>Generate a Controller and View</li>
		<%= video_tag "9ruby.webm", :size => "320x240", :controls => true %></div>
		<div style="float:left;padding: 50px;">
		<li>Server Request Handling</li>
		<%= video_tag "10ruby.webm", :size => "320x240", :controls => true %></div>
</ul>
</div>
</body>
</html>